.main_body{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.main_body div{
    padding: 10px;
}

.short_section{
    background-color: #ccc;
}

.localVideo{
    width: 95%;
    height: 70%;
    margin: 10px;
    background: #000;
}

.remoteVideo{
    width: 140px;
    height: 100px;
    margin: 10;
    background: #000;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}