.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ReactModal__Overlay--after-open {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Toggle B */
#audius:checked ~ .dot {
  transform: translateX(100%);
  background-image: linear-gradient(45deg, #270c86 0%, #d001d1 100%);
}

#darkMode:checked ~ .dot {
  transform: translateX(100%);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#tracks-section {
  background-image: linear-gradient(
    90deg,
    #06172000 10%,
    rgba(28, 222, 244, 0.212) 50%,
    #06172000 90%
  );
}

/*FROM THE VIDEO SECTION*/
.slider-left,
.slider-right {
  width: 18%;
  opacity: 0;
  cursor: pointer;
}

.slider-single-content {
  box-shadow: 0px 8px 15px 0px rgba(131, 131, 131, 0.1) !important;
  -webkit-box-shadow: 0px 8px 15px 0px rgba(131, 131, 131, 0.1) !important;
  -moz-box-shadow: 0px 8px 15px 0px rgba(131, 131, 131, 0.1) !important;
}

/*------------------------ Sidebar ----------------------------*/

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
/* .bm-menu {
  background: rgb(63, 81, 181);
  background: linear-gradient(
    180deg,
    rgba(63, 81, 181, 1) 0%,
    rgba(33, 150, 243, 1) 65%,
    rgba(20, 215, 255, 1) 100%
  ) !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
} */

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*::-webkit-scrollbar{
  width: 15px;
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background: #E1FAFF;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  width: 24px;
  background: #00d3ff;
  border: 5px solid #CCEEF4;
  border-radius: 15px;
}*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  border-radius: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;

  border-left: 4px solid white;
  border-right: 4px solid white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(315.71deg, #5f5f5f 6.42%, #1a1a1a 104.19%);
}

/* TOGGLER */
.toggle {
  height: 35px;
  width: 70px;
  border-radius: 50px;
  margin: auto;
  background-image: linear-gradient(aqua, skyblue);
  position: relative;
  cursor: pointer;
}

.toggle.night {
  background-image: linear-gradient(60deg, rgb(27, 27, 27), rgb(50, 50, 50));
}

.notch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgb(255, 208, 0);
  position: absolute;
  top: 2px;
  left: 3px;

  box-shadow: 0 0 5px yellow;
  z-index: 1;
  transition: all 0.3s ease;
}

.notch > .crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
}
.night .crater {
  opacity: 0.4;
}

.crater:first-child {
  left: 2px;
  top: 7px;
  height: 5px;
  width: 12px;
  transform: rotate(-45deg);
}

.crater:last-child {
  right: 2px;
  top: 7px;
  height: 5px;
  width: 10px;
  transform: rotate(45deg);
}

.night > .notch {
  background: whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(35px, 0);
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.shape.sm {
  height: 3px;
  width: 10px;
  top: 50%;
  left: 60%;
}

.shape.md {
  height: 5px;
  width: 15px;
  top: 25%;
  left: 25%;
  z-index: 2;
}

.shape.lg {
  height: 8px;
  width: 30px;
  top: 60%;
  bottom: 20px;
  left: 25%;
}

.night .shape {
  background: lightgray;
  box-shadow: 0 0 2px 1px rgb(171, 211, 212);
}

.night .shape.sm {
  height: 3px;
  width: 3px;
  transform: translate(-12px, -5px);
}

.night .shape.sm:first-of-type {
  height: 1px;
  width: 1px;
  transform: translate(-20px, -10px);
}

.night .shape.md {
  height: 2px;
  width: 2px;
  transform: translate(-10px, 0);
}

.night .shape.lg {
  height: 2px;
  width: 2px;
  transform: translate(-2px, 0);
}
