.main_header_nav{
	position: fixed;
	width: 100%;
	padding: 10px 45px 0 45px; 
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3);
}

.main_header_body{
    position: relative;
    height:  100vh; 
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-size: 100% 115%;
    margin: 0;
	z-index: 100;
}

.stars_background{
	background-color: #000;
}

.main_header_navitem{
	color: white;
	font-size: 20px;
	font-weight: 500;
	z-index: 200;
	padding-top: 15px;
}

.main_header_title{
	position: relative;
	color: #ffefff;
	width: 60%;
	word-wrap: none;
	font-size: 40px;
	top: 450px;
	z-index: 100;
	font-weight: 600;
}

center{
	height: 15vh;
}

.main_header_title p{
	padding-top: 40vh;
}

.nav_logo_style{
	padding-bottom: 10px;
}