.main_header_nav{
	position: fixed;
	width: 100%;
	padding: 20px 45px 0 45px; 
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3);
}

.main_header_body{
    position: relative;
    height:  500px; 
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 70px;
    background-repeat: no-repeat;
    background-size: 100% 600px;
    margin: 0;
	z-index: 10 !important;
}

.main_body_vanta{
	height: 735px;
}

.main_header_navitem{
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.main_header_title{
	position: relative;
	color: #ffefff;
	width: 60%;
	word-wrap: none;
	font-size: 40px;
	top: 350px;
	text-shadow:0px 160px 7px white;
	z-index: 100;
	font-weight: 600;
}