
.main_footer{
  position:fixed;
  margin-bottom: 0px;
  padding-bottom: 0px;
  bottom: 0;
  font-size: 16px;
  background-color: #fff;
  height: 100px;
  width:100%;
  box-shadow: 10px 10px 10px 10px #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
}

.root{
  width:40%;
}

.player{
  height:100px;
  box-shadow: none;
}

.player svg {
  color:#00d3ff;
  font-size: 2.6rem;
}

.volume{
  width:200px;
  margin-left: 100px;
  display: block;
  margin-top: auto;
}






