.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.join-text{
  font-size: 1.7rem;
  color:#00d3ff;
  font-weight: bold;
}

.socials{
  width:100%;
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-top: 2rem;
}

.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:5rem;
  width:50%;

}

.discord img{
  height:5rem;
  width:5rem;
}

.telegram img{
  border-radius: 50%;
  height: 3.5rem;
  width: auto;
}

.twitter img{
  border-radius: 50%;
  height: 3.5rem;
  width: auto;
}

.card{
  width:18rem;
  height: 20rem;
  box-shadow: 0px 5px 5px #cfcfcf;;
}

.freedom-text{
  color:#00d3ff;
}

.we-give{
  color: 
  #1B252F;
  opacity: 0.8;
  margin-bottom: 4rem;
}

.img-shadow{
  box-shadow: 0px 5px 5px #cfcfcf;
}

#example1 {
	width: 100%;
	margin: 50px 0;
	margin-left: 10px;
	position: absolute;
	margin-top: 10rem;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
  }
  
  
  svg {
	width: 100%;
	height: 200px;
	position: absolute;
	
  }
  
  #wave1 path {
	fill: transparent;
	stroke: #fff;
  }
  #wave1 {
	position: absolute;
	top:20px
  }
  #wave2 {
	position: absolute;
	top:50px;
	display: none;
  }
  #wave2 path {
	fill: transparent;
	
  }
  .desktop {
	display: block;
	font-size: 15px;
  }
  
  text {
	fill: #fff;
  
  }
  
  textPath{
	  font-size: 0.6rem;
  }
  
  .wavy{
	width:100%;
	margin: 5rem 0 5rem 0;
	height:70vh;
	background: linear-gradient(#fff,#00d3ff);
  }
