*{
  margin: 0;
  padding: 0;
}

body,html{
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;
}
