.body_navbar_style{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.search{
  position: relative;
  border-radius: 20px;
  width: 35%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.searchIcon{
  position: relative;
  padding: 4px;
  margin: 2px;
  margin-left: -40px;
  height: 100%;
  pointer-events: none;
  border-radius: 20px;
  color: #ccc;
}

.navbar_meetId{
  background-color: #00D3FF;
  border-radius: 20px;
  border: none;
}

.navbar_avatar{
  font-size: 10%s;
}

.navbar_meetId span{
  padding-left: 4px;
  padding-right: 4px;
  font-size: 90%;
  font-weight: 600;
}




.sidebar_css{
    background: rgb(63,81,181);
    background: linear-gradient(180deg, rgba(63,81,181,1) 0%, rgba(33,150,243,1) 65%, rgba(20,215,255,1) 100%) !important;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 18%;
    z-index: 0;
}


